.site-wrapper {
    padding:0;
}

.header {
    min-height:200px;
    border-bottom: #B26CBC 45px solid;
}

.subscribe-tab {
    background-color:#E7E7E7;
    width:320px;
    height:35px;
    position:absolute;
    top:0;
    right:10%;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    color:#4f6d8d;
    font-size:15px;
    line-height:30px;
}

.logo {
    width:160px;
    float:left;
}

nav {
    float:right;
    top:45px;
}

/////////////////////////// MEDIA QUERIES ///////////////////////////

//Bootstrap MD and less than
@media (max-width: 768px) {
    .subscribe-tab {
        display:none;
    }

    .logo {
        display:none;
    }
}