.site-wrapper {
    padding:0;
}

.header {
    height:150px;
    border-bottom: #B26CBC 45px solid;
}

.subscribe-tab {
    background-color:#E7E7E7;
    width:320px;
    height:35px;
    position:absolute;
    top:0;
    right:10%;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    color:#4f6d8d;
    font-size:15px;
    line-height:30px;

    i {
        font-size:20px;
        line-height:20px;
    }
}

.logo {
    width:160px;
    float:left;
    z-index: 1;
    position: relative;
}

.company-name {
    display:none;

    p {
        line-height:100px;
    }
}

nav {
    // float:right;
    top:45px;
}

button:focus {
    outline:none;
}

.nav-item {
    width:max-content;
    color: #4f6d8d;
    font-size:15px;
    height:32px;
    line-height:16px;
    text-decoration: none;
    border-left: #CCC 1px solid;
    margin-right:10px;
}

.clear {
    clear:both;
}

.block-1 {
    //background: #ffffff url(src\assets\images\bg-block1.png) top right no-repeat;
    //height:450px;
    background: url(src\assets\images\bg-block1.png);
    height: 100%;
    width: 100%;
    position: fixed;
    background-position-x: right;
    background-repeat: no-repeat;
}

.block-2 {
    background-color:#661F74;
    min-height:200px;
}

/////////////////////////// MEDIA QUERIES ///////////////////////////

//Bootstrap MD and less than
@media (max-width: 767px) {
    .subscribe-tab {
        display:none;
    }

    .logo {
        display:none;
    }

    .company-name {
        display:inline-block;
    }

    nav {
        float:right;
    }

    .navbar-nav {
        padding-top:110px;
        align-items: flex-end;
        position: relative;
        z-index: 2;
    }

    .navbar-toggler {
        position:absolute;
        top:-15px;
        right:0;
    }

    .nav-item {
        margin-right:0;
        width:140px;
        padding-left:10px;
        margin-bottom:20px;
        text-align:right;
        border-left-width:3px;
    }

}