<div class="container-fluid site-wrapper">
  <div class="container-fluid header">
    <div class="container">
    <!-- Subscribe to Newsletter tab, disappears on mobile -->
    <div class="row subscribe-tab justify-content-center">
        <p> <i class="fas fa-arrow-circle-right"></i> Sign up for our newsletters</p>
    </div>
    <!-- Logo Image, disappears on mobile -->
    <div class="logo">
        <img src="../assets/images/yes_logo2.png" id="nav-logo">
    </div>
    <!-- Company Name, appears on mobile -->
    <div class="company-name">
      <p>YES</p>
    </div>
    <!-- Nav Links, collapses on mobile -->
    <nav class="navbar navbar-expand-md">
        <button class="navbar-toggler navbar-light ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-expanded" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">{{ navLink1 }}<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">{{ navLink2 }}</a>
            <a class="nav-item nav-link" href="#">{{ navLink3 }}</a>
            <a class="nav-item nav-link" href="#">{{ navLink4 }}</a>
            <a class="nav-item nav-link" href="#">{{ navLink5 }}</a>
          </div>
        </div>
      </nav>
      </div>
  </div>


  <!-- <nav class="navbar navbar-expand-md">
    <img src="../assets/images/yes_logo2.png" id="nav-logo">
    <button class="navbar-toggler navbar-light ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-expanded" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">{{ navLink1 }}<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">{{ navLink2 }}</a>
        <a class="nav-item nav-link" href="#">{{ navLink3 }}</a>
        <a class="nav-item nav-link" href="#">{{ navLink4 }}</a>
        <a class="nav-item nav-link" href="#">{{ navLink5 }}</a>
        <a class="nav-item nav-link" href="#">{{ navLink6 }}</a>
      </div>
    </div>
  </nav> -->

</div>

<!-- <div style="text-align:center; margin-top:500px;">
  <h1>
    {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<router-outlet></router-outlet>
