<div class="container-fluid site-wrapper">
  <div class="container-fluid header">
    <div class="container">
    <!-- Subscribe to Newsletter tab, disappears on mobile -->
    <div class="row subscribe-tab justify-content-center">
        <p> <i class="fas fa-arrow-circle-right"></i> Sign up for our newsletters</p>
    </div>
    <!-- Logo Image, disappears on mobile -->
    <div class="logo">
        <img src="../assets/images/yes_logo2.png" id="nav-logo">
    </div>
    <!-- Company Name, appears on mobile -->
    <div class="company-name">
      <p>YES</p>
    </div>
    <!-- Nav Links, collapses on mobile -->
    <nav class="navbar navbar-expand-md">
        <button class="navbar-toggler navbar-light ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-expanded" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">{{ navLink1 }}<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">{{ navLink2 }}</a>
            <a class="nav-item nav-link" href="#">{{ navLink3 }}</a>
            <a class="nav-item nav-link" href="#">{{ navLink4 }}</a>
            <a class="nav-item nav-link" href="#">{{ navLink5 }}</a>
          </div>
        </div>
      </nav>
      </div>
  </div>

  <div class="container-fluid block-1">
  </div>

  <div class="clear"></div>

  <div class="container-fluid block-2">
    <div class="row">
      <div class="col-md-6 col-xs">

      </div>
      <div class="col-md-6 xol-xs">

      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
